<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>rating</th>
        <th>level</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < recipes.length; i++) { %>
        <tr>
          <td>
            <%= recipes[i].id %>
          </td>
          <td>
            <%= recipes[i].title %>
          </td>
          <td>
            <%= recipes[i].rating %>
          </td>
          <td>
            <%= recipes[i].level %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>

</html>